{% extends "layout.html" %}

{% block title %}
    Upload
{% endblock %}

{% block main %}

<script>

    function func() 
    {
        let img = document.querySelector("#loadingImage");
        let msg = document.querySelector("#message");
        let followUp = document.querySelector("#follow-up");

        img.style.display = "block";
        msg.style.display = "block";
        followUp.style.display = "block";
    }

</script>

<p>
 Click on "Choose File" and upload data as a
 <u>
  .CSV
 </u>
 file.
</p>
<form action="/upload" method="post">
 <input accept=".csv" name="file" type="file"/>
 <button class="btn btn-primary" type="submit" onclick="func()">
  Upload
 </button>
</form>
<div class="loader" id="loadingImage"></div>
<div id="message">Uploading File...</div>
<div id="follow-up">This may take a moment.</div>
{% endblock %}
